<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>聊天</title>
    <link rel="stylesheet" href="chat/imgs/font-icon/iconfont.css">
    <link rel="stylesheet" href="chat/css/demo.css">
  
  	<script type="text/javascript" src="jquery-1.9.1.js"></script>
  	
  	<script type="text/javascript">
  	$(document).ready(function(){
  		
  		
  		var name ="[[${name}]]";
  		//var userNick = "[[${session.currUser.nick}]]";
  		
  		//设置了一个隐藏域将当前用户的昵称 账号 头像存了进去 以便后面的代码取出
  		//头像
  		var currUserPic= "[[${session.currUser.pic}]]";
		//账号
  		var currUserAcc = "[[${session.currUser.acc}]]";
  		
		var currUserNick = "[[${session.currUser.nick}]]";
	$("#myInfo").attr("data-acc",currUserAcc);
	$("#myInfo").attr("data-pic",currUserPic);
	$("#myInfo").attr("data-nick",currUserNick);
	//console.log(" acc "+$("#myInfo").attr("data-acc")+" pic "+$("#myInfo").attr("data-pic")+" nick "+$("#myInfo").attr("data-nick"));
	$("#userNickNow").text($("#myInfo").attr("data-nick"));	
	
  		console.log(name);
  		
  		//定时检测 50秒一次 证明自己还活着
  		function liveOfSession(){
  			$.post("/sessionLife",function(data){
  				console.log(data);
  			});
  		}
  		setInterval(liveOfSession,50000);
  		
  		


  		function getPriss(){
  			var otherAcc = $(".message-btn").attr("data-acc");
  			var otherPic = $(".message-btn").attr("data-pic");
  			var otherNick = $(".message-btn").attr("data-nick");
  			console.log("目标acc是"+otherAcc+"目标昵称是"+otherNick+"目标头像是"+otherPic);
  			var myPic=$("#myInfo").attr("data-pic");
  			
  			//开始调用聊天聊天记录
  			$.post("/getPri",{"otherAcc":otherAcc},function(data){
  				console.log(data); 
  				
  				var htmls ="<a href='#toHere' id='toSomePlace'></a>";
  				for(var i=0;i<data.length;i++){
  					console.log(""+data.senderNick==otherNick);
  					
  					console.log("  "+otherNick+"   "+data[i].senderNick);
  					if(data[i].senderNick==otherNick){
  						htmls+="<li class='leftLi'>"
  						+"<div class='LuserContain'>"
  						+"<div class='userPic'>"+otherPic+"</div>"		//头像
  						+"<div class='userNick'>"+data[i].senderNick+"</div>"		//昵称
  						+"</div>"
  						+"<div class='LchatContent'>"+data[i].content+"<br>"+data[i].time+"</div>"				//说的话
  						+"</li>";
  					} else{
  						htmls+="<li class='rightLi'>"
  							+"<div class='RuserContain'>"
  							+"<div class='userPic'>"+myPic+"</div>"		//头像
  							+"<div class='userNick'>"+data[i].senderNick+"</div>"		//昵称
  							+"</div>"
  							+"<div class='RchatContent'>"+data[i].content+"<br>"+data.time+"</div>"				//说的话
  							+"</li>";
  					}
  				}
  				htmls+="<div id='toHere'>123123</div>"
  				$("#messgesUl").html(htmls);
  			
  			});
  		}
  		
  //发送消息
  $("#message-btnss").click(function() {
     // alert(1);
	  var sender = $("#myInfo").attr("data-acc");	//发送者
      var senderNick = $("#myInfo").attr("data-nick");
      var receiver = $(this).attr("data-acc"); //接收者
  	var content = $("#messagesContent").val();
  	alert("sender :"+sender+" senderNick :"+senderNick+"  receiver: "+receiver+"  content :"+content);
     //alert(2); 
     $.post("/newPri",{"sender":sender,"receiver":receiver,"senderNick":senderNick,"content":content},
    	 function(data){
    	 alert(data);
    	 getPriss();
    	 
    	 });
     
     });

  	});
  	</script>
  	
  	<style>
  	.LuserContain{width:70px;height:100px;border:1px solid red; float:left;
  	}
  	.RuserContain{width:70px;height:100px;border:1px solid red; float:right;
  	}
  	.userPic{width:70px;height:70px;border:1px solid red;
  	}
  	.userNick{width:70px;height:30px;border:1px solid red;
  	}
  	.LchatContent{margin-left:75px;margin-top:20px;border:1px solid red;
  	}
  	.RchatContent{margin-right:75px;margin-top:20px;border:1px solid red;
  	}
  	
  	.leftLi{float:left;width:60%;margin-top:5px;border:1px solid red;
  	}
  	.rightLi{float:right;width:60%;margin-top:5px;border:1px solid red;
  	}
  	
  	</style>
</head>

<body>
<input type="hidden" date-acc="" data-pic="" data-nick="" id="myInfo">
    <div class="header">
        <div style="float:left;" class="icon-box">
            <i class="iconfont icon">&#xe637;</i>
        </div>
         <div style="float:right;margin-right:20px;">
 		  
 		    <font style="color:white;font-size:15px;">当前用户：</font>
 		    <font style="color:white;font-size:20px;" id="userNickNow"></font>
 			     
        </div>
    </div>
    <div style="position:absolute;left:0px;background-color: #efefef; "  class="chatbar">
        <div class="chatbar-box" style="border:10px solid #efefef;">
            <div style=" border:3px solid #efefef;"   class="chatbar-contacts">
                	
                <div class="contacts-search-box">
                    <i class="iconfont">&#xe651;</i>
                    <input type="text" class="search-text" placeholder="请输入要搜索的联系人">
                </div>
                <ul class="chatbar-contacts-uls">
                    <!-- <li>
                        <i class="iconfont">&#xe752;</i>
                        <p>黄小小</p>
                    </li> -->
                </ul>
            </div>
                <div style=" left:23%;border:5px solid white;" class="chatbar-messages" >
                <div class="messages-title">
                    <i class="iconfont">&#xe752;</i>
                    <h4 id="chatAim">请在左侧选择用户进行聊天~</h4>
                    
                </div>
                <div class="messages-text" id="messages-text">
                   <ul style="width:100%; " id="messgesUl">
                   <li class="leftLi">
                   <div class="LuserContain">
                    <div class="userPic">头像</div>
                    <div class="userNick">昵称</div>
                   </div>
                   <div class="LchatContent">聊天内容</div>
                   </li>
                   
                     <li class="rightLi">
                   <div class="RuserContain">
                    <div class="userPic">头像</div>
                    <div class="userNick">昵称</div>
                   </div>
                   <div class="RchatContent">聊天内容</div>
                   </li>
                  
                   
                   </ul>
                </div>
                <div class="messages-box">
                    <textarea class="messages-content"  name="content" id="messagesContent" cols="30" rows="10">&nbsp;</textarea>
                    <input class="message-btn" type="button" value="发送"  data-pic="" data-acc="" data-nick="" id="message-btnss">
                </div>
            </div>
        </div>
    </div>

   
   <script src="chat/js/demo.js"></script>
   
</body>
</html>
  	