<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SBM Short Message!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  	<script type="text/javascript" src="jquery-1.9.1.js"></script>
	
  	
  	<script type="text/javascript">
  	$(document).ready(function(){
  		
  		console.log("run");
  		$("#btn1").click(function(){
  			alert(1);
  			
  			$.get("/ajax",function(data){
  				alert(2);
  				alert(data);
  			});
  			
  			alert(3);
  			
  		});
  	});
   
  	</script>
  	
  	
</head>
<body bgcolor="#3D9970">
<h1 >Hello World!</h1>

<center>

<input id="tel" type="text" ><input id="btn" type="button" value="发送短信"> <br> 
<div style="width:200px;height:200px;border:1px solid black;margin-top:100px;"  id="mes"></div>
</center>
<input type="button" id="btn1">


</body>
</html>