<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SBM Short Message!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  	<script type="text/javascript" src="jquery-1.9.1.js"></script>
	
  	
  	<script type="text/javascript">
  	$(document).ready(function(){
  		
  		console.log("run");
  		 
  	});
   
  	</script>
  	
  	
</head>
<body bgcolor="#3D9970">
<h1 >Hello World!</h1>

<form action="fileOne" method="post" enctype="multipart/form-data">
<input type="text" value="美滋滋" name="name">
<input type="file" name="file" >
<br>
<input type="submit" value="提交">
</form>

</body>
</html>